@model Digipost.Api.Client.Domain.Identify.IdentificationResult

@{
    ViewBag.Title = "Identification result";

}

<div class="jumbotron">
    <h4>@Html.LabelFor(m => Model.ResultType) : @Html.LabelForModel(Model.ResultType.ToString())</h4>
    <div>
        <p>@Html.LabelFor(m => Model.Error) : @Html.LabelForModel(Model.Error.ToString())</p>
        <p>@Html.LabelFor(m => Model.Data) : @Html.LabelForModel(Model.Data)</p>
    </div>
</div>
