@using Digipost.Api.Client.Domain.Enums
@model DigipostClientLibWebapp.Models.IdentifyModel

@{
    ViewBag.Title = "Identify";

}
@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
        });

        $(function () {
            $('form').submit(function () {
                if ($(this).valid()) {
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (result) {
                            $('#IdentifyResultId').html(result);
                        }
                    });
                }
                return false;
            });
        });
    </script>
}

<h2>@ViewBag.Title</h2>


<div id="tabs">
    <ul id="tabSelector" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#tabs-1" data-toggle="tab">By identification ID</a></li>
        <li class="active"><a href="#tabs-2" data-toggle="tab">By name and address</a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
        <br />
        <div id="tabs-1" class="tab-pane ">
            @using (Html.BeginForm("Identify", "Identify", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form1" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.IdentificationType, Enum.GetNames(typeof(IdentificationType)).Select(e => new SelectListItem { Text = e }))
                        @Html.TextBoxFor(model => model.IdentificationValue)
                        <input type="submit" class="btn btn-default" value="Identify" />
                    </div>
                </div>
            }
        </div>

        <div id="tabs-2" class="tab-pane">
            @using (Html.BeginForm("IdentifyByNameAndAddress", "Identify", FormMethod.Post, new { @class = "form-horizontal", role = "form",id="form1" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="col-md-10">
                        <p>
                            @Html.LabelFor(m => Model.FullName) : @Html.TextBoxFor(model => model.FullName) <br />
                        </p>
                        <p>
                            @Html.LabelFor(m => Model.AddressLine1) : @Html.TextBoxFor(model => model.AddressLine1)<br />
                        </p>
                        <p>
                            @Html.LabelFor(m => Model.PostalCode) : @Html.TextBoxFor(model => model.PostalCode)<br />
                        </p>
                        <p>
                            @Html.LabelFor(m => Model.City) : @Html.TextBoxFor(model => model.City)<br />
                        </p>
                        <input type="submit" class="btn btn-default" value="Identify" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="IdentifyResultId"></div>
</div>
