@using Digipost.Api.Client.Domain.Enums
@using Microsoft.Ajax.Utilities
@model DigipostClientLibWebapp.Models.SendModel

@{
    ViewBag.Title = "Send";
}

<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    <h3>@Html.LabelForModel(Model.SearchDetails.FirstName)&nbsp;@Html.LabelForModel(Model.SearchDetails.MiddleName)&nbsp;@Html.LabelForModel(Model.SearchDetails.LastName)</h3>
    <div>@Html.LabelFor(m => Model.SearchDetails.MobileNumber) : @Html.LabelForModel(Model.SearchDetails.MobileNumber)</div>
    <div>
        @Html.LabelFor(m => Model.SearchDetails.DigipostAddress) : @Html.LabelForModel(Model.SearchDetails.DigipostAddress) <br />
        @if (Model.SearchDetails.SearchDetailsAddress != null)
        {
            if (Model.SearchDetails.SearchDetailsAddress.City != null)
            {
                <p> @Html.LabelFor(m => Model.SearchDetails.SearchDetailsAddress.City) : @Html.LabelForModel(Model.SearchDetails.SearchDetailsAddress.City) <br /></p>
            }
            if (Model.SearchDetails.SearchDetailsAddress.ZipCode != null)
            {
                <p> @Html.LabelFor(m => Model.SearchDetails.SearchDetailsAddress.ZipCode) : @Html.LabelForModel(Model.SearchDetails.SearchDetailsAddress.ZipCode) <br /></p>
            }
            if (Model.SearchDetails.SearchDetailsAddress.Street != null)
            {
                <p> @Html.LabelFor(m => Model.SearchDetails.SearchDetailsAddress.Street) : @Html.LabelForModel(Model.SearchDetails.SearchDetailsAddress.Street) <br /></p>
            }
            if (Model.SearchDetails.SearchDetailsAddress.HouseNumber != null)
            {
                <p> @Html.LabelFor(m => Model.SearchDetails.SearchDetailsAddress.HouseNumber) : @Html.LabelForModel(Model.SearchDetails.SearchDetailsAddress.HouseNumber) <br /></p>
            }
            if (!Model.SearchDetails.SearchDetailsAddress.AdditionalAddressLine.IsNullOrWhiteSpace())
            {
                <p> @Html.LabelFor(m => Model.SearchDetails.SearchDetailsAddress.AdditionalAddressLine) : @Html.LabelForModel(Model.SearchDetails.SearchDetailsAddress.AdditionalAddressLine) <br /></p>
            }
            if (Model.SearchDetails.SearchDetailsAddress.HouseLetter != null)
            {
                <p> @Html.LabelFor(m => Model.SearchDetails.SearchDetailsAddress.HouseLetter) : @Html.LabelForModel(Model.SearchDetails.SearchDetailsAddress.HouseLetter) <br /></p>
            }

        }
    </div>
</div>

@Html.Partial(partialViewName: "SendPartial")