@using Digipost.Api.Client.Domain.Enums
@model DigipostClientLibWebapp.Models.SendModel


<div>
    @using (Html.BeginForm(actionName: "Send", controllerName: "Send", method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
    {
        @Html.Hidden("digipostaddress", Model.DigipostAddress)
        <p>@Html.Label("Subject") &nbsp; @Html.TextBox("subject")</p>

        <input type="file" name="FileUpload" />

        <table>
            <thead>
                <tr><td>Additional options</td><td></td></tr>
            </thead>
            <tbody>
                <tr><td>Sms notification</td><td>@Html.CheckBox("smsAfterHour") @Html.TextBox("smsAfterHours")</td></tr>
                <tr>
                    <td>Sensitivity option</td>
                    <td>
                        @Html.RadioButton("sensitivityOption", SensitivityLevel.Normal, true) Normal
                        @Html.RadioButton("sensitivityOption", SensitivityLevel.Sensitive) Sensitive
                    </td>
                </tr>
                <tr>
                    <td>Authentication option</td>
                    <td>
                        @Html.RadioButton("authenticationOption", AuthenticationLevel.Password, true) Password
                        @Html.RadioButton("authenticationOption", AuthenticationLevel.TwoFactor) TwoFactor
                    </td>
                </tr>
            </tbody>
        </table>

        <input type="submit" name="Submit" id="Submit" value="Send" />
    }
</div>
